<footer>
    <div class="footer-content">
        <p>&copy; 2025 San Rafael Desarrollo</p>
        <nav>
            <a href="about">Sobre mí</a> |
            <a href="projects">Proyectos</a> |
            <a href="blog">Blog</a> |
            <a href="contact">Contacto</a>
        </nav>
        <div class="social-icons">
            <a href="https://www.facebook.com/"><img src="assets/icons/icons8-facebook.svg" alt="Facebook logo icon "></a>
            <a href="https://www.whatsapp.com/"><img src="assets/icons/icons8-whatsapp.svg" alt="WhatsApp logo icon "></a>
            <a href="https://www.linkedin.com/Carlosjsanchez"><img src="assets/icons/icons8-linkedin.svg" alt="LinkedIn logo icon "></a>
        </div>
    </div>
</footer>


