html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main.container {
  flex: 1 0 auto;
}

app-footer, footer {
  flex-shrink: 0;
}

@media (max-width: 700px) {
  section, .about-highlights > div, .project, form {
    padding: 10px 5px;
    font-size: 0.98rem;
  }
  .about-content, .about-highlights {
    flex-direction: column;
    gap: 12px;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
